.topLogoW{
    width:20rem;
}

.advertisement {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff !important;
}

.advertisement .container {
    padding-right: 0;
    padding-left: 0;
}

body .modal-content:where([data-web-theme=dark], [data-web-theme=dark] *) {
    --tw-bg-opacity: 1;
    background-color: rgb(29 34 46 / var(--tw-bg-opacity));
}