.topLogoW{
    width:20rem;
}

.advertisement {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff !important;
}

.advertisement .container {
    padding-right: 0;
    padding-left: 0;
}

